.button-signin{
    border-radius: 2rem !important;
    max-width: 70% !important;
    display:inline !important;
    border-color: white !important;
    background: #2e4fa9 !important;
    color:white !important;
    border-width: thick !important;
}

